Repository obscuritylabs/darkmoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: darkmoon, darkmoon-cli

.gitlab-ci.yml:

# Copyright (C) 2022 Obscurity Labs LLC. <admin@obscuritylabs.com> - All Rights Reserved
# Unauthorized copying of this file, via any medium is strictly prohibited.
# All rights reserved. No warranty, explicit or implicit, provided.
# Proprietary and confidential.

# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence

include:
  - template: Security/SAST.gitlab-ci.yml

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - when: always

stages:
  - security
  - triggers

# Rules
.always-run-rules-template: &always-run
  rules:
    - if: $CI_COMMIT_BRANCH
    - if: $CI_MERGE_REQUEST_IID

# Triggers Stage
darkmoon:
  stage: triggers
  trigger:
    include: darkmoon/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - changes:
        - darkmoon/*

darkmoon-cli:
  stage: triggers
  trigger:
    include: darkmoon-cli/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - changes:
        - darkmoon-cli/*

# Security Stage
sast:
  stage: security
  cache: []

bandit-sast:
  <<: *always-run

semgrep-sast:
  <<: *always-run

feat: entries with same values are not added to list
  .pre-commit-config.yaml
  darkmoon-cli/pyproject.toml
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon/pyproject.toml
  darkmoon/src/darkmoon/main.py
Due: darkmoon, darkmoon-cli

refactor: clean up stuff
  .vscode/settings.json
  darkmoon-cli/src/darkmoon_cli/__init__.py
  darkmoon/src/darkmoon/main.py
  darkmoon/src/darkmoon/server/__init__.py
  darkmoon/src/darkmoon/server/routes/routes.txt
  darkmoon/src/darkmoon/settings.py
Due: none

fix: bug in post enpoint to update metadata entry correctly was resolved
  darkmoon/src/darkmoon/main.py
Due: none

feat: wrote tests for functions
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon-cli/tests/__init__.py
  darkmoon-cli/tests/test_main.py
Due: none

feat: unit tests added for functions that have a return
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon-cli/tests/test_main.py
Due: none

feat: added tar file and dynamic path for pytest fixtures
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon-cli/tests/test_main.py
  darkmoon-cli/tests/testing3.tar.gz
Due: none

fix: added function return types in test_main
  darkmoon-cli/tests/test_main.py
Due: none

fix: correct return types for yield fixtures
  darkmoon-cli/tests/test_main.py
Due: none

fix: type annotations added
  darkmoon-cli/tests/test_main.py
Due: none

feat: changed function name and added debug options
  darkmoon-cli/src/darkmoon_cli/main.py
Due: none

fix: cli option for debugging fixed
  darkmoon-cli/poetry.lock
  darkmoon-cli/pyproject.toml
  darkmoon-cli/src/darkmoon_cli/main.py
Due: darkmoon-cli

fix: MagicException bug fix
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon-cli/src/darkmoon_cli/settings.py
  darkmoon/src/darkmoon/settings.py
Due: none

fix: remove extra comments
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon/src/darkmoon/server/schema.py
Due: none

fix: docker was slow
  .devcontainer/Dockerfile
Due: none

fix: linting dependencies
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  Makefile
  darkmoon-cli/poetry.lock
  darkmoon-cli/pyproject.toml
  darkmoon/poetry.lock
  darkmoon/pyproject.toml
Due: darkmoon, darkmoon-cli

5 fix docker and linting (#11)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  Makefile
  darkmoon-cli/poetry.lock
  darkmoon-cli/pyproject.toml
  darkmoon/poetry.lock
  darkmoon/pyproject.toml
Due: darkmoon, darkmoon-cli

refactor: removed refereneces to flake8 as well as unnecessary main.py file
  darkmoon-cli/.flake8
  darkmoon/.flake8
  darkmoon/main.py
Due: darkmoon, darkmoon-cli

Create README.md
  darkmoon-cli/README.md
Due: darkmoon-cli

Update README.md
  darkmoon-cli/README.md
Due: darkmoon-cli

refactor: deleted get_source_iso function
  darkmoon-cli/src/darkmoon_cli/__pycache__/schema.cpython-310.pyc
  darkmoon-cli/src/darkmoon_cli/main.py
Due: none

fix: update fastapi version for starlette security
  darkmoon/poetry.lock
  darkmoon/pyproject.toml
Due: darkmoon

refactor: deleted unnnecessary __init__ file
  darkmoon/src/darkmoon/server/__init__.py
Due: none

refactor: delete old files
  darkmoon-cli/.flake8
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon/.flake8
  darkmoon/main.py
  darkmoon/src/darkmoon/server/__init__.py
Due: darkmoon, darkmoon-cli

refactor: delete old files (#25)
  darkmoon-cli/.flake8
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon/.flake8
  darkmoon/main.py
  darkmoon/src/darkmoon/server/__init__.py
Due: darkmoon, darkmoon-cli

fix: update fastapi version for starlette security (#22)
  darkmoon/poetry.lock
  darkmoon/pyproject.toml
Due: darkmoon

refactor: deleted .env
  darkmoon-cli/src/darkmoon_cli/__pycache__/schema.cpython-310.pyc
  darkmoon/.env
Due: darkmoon

chore: changed TEMPLATE.env to random values and deleted unnecessary code from .gitignores
  darkmoon-cli/.gitignore
  darkmoon/.gitignore
  darkmoon/TEMPLATE.env
Due: darkmoon, darkmoon-cli

19 remove env and any leaked data in the repository history (#27)
  darkmoon-cli/.gitignore
  darkmoon-cli/src/darkmoon_cli/__pycache__/schema.cpython-310.pyc
  darkmoon/.env
  darkmoon/.gitignore
  darkmoon/TEMPLATE.env
Due: darkmoon, darkmoon-cli

chore: made new darkmoon directory and placed in files
  darkmoon/darkmoon/__init__.py
  darkmoon/darkmoon/main.py
  darkmoon/darkmoon/settings.py
Due: none

chore: created core directory and placed __init__.py inside
  darkmoon/core/__init__.py
Due: none

chore: finished setting up basic internal components of new directory
  darkmoon/core/database.py
  darkmoon/darkmoon/api-metadata/schema.py
  darkmoon/darkmoon/app.py
Due: none

chore: changes to internal files
  darkmoon/Dockerfile
  darkmoon/poetry.lock
Due: darkmoon

chore: checking changes made to docker
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  darkmoon/Dockerfile
Due: darkmoon

chore: took out tests for docker
  .devcontainer/Dockerfile
Due: none

chore: refactored internal mechanics of darkmoon directory
  darkmoon/darkmoon/api/v1/metadata/schema.py
  darkmoon/darkmoon/api/v1/metadata/views.py
Due: none

refactor: added router, moved functions to views.py
  darkmoon/Dockerfile
  darkmoon/darkmoon/api/v1/metadata/views.py
  darkmoon/darkmoon/app.py
Due: darkmoon

refactor: checking database / app connection
  darkmoon/core/database.py
  darkmoon/darkmoon/api/v1/metadata/views.py
  darkmoon/darkmoon/core/__init__.py
  darkmoon/darkmoon/core/database.py
Due: none
