Repository obscuritylabs/darkmoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: darkmoon, darkmoon-cli

.gitlab-ci.yml:

# Copyright (C) 2022 Obscurity Labs LLC. <admin@obscuritylabs.com> - All Rights Reserved
# Unauthorized copying of this file, via any medium is strictly prohibited.
# All rights reserved. No warranty, explicit or implicit, provided.
# Proprietary and confidential.

# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence

include:
  - template: Security/SAST.gitlab-ci.yml

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - when: always

stages:
  - security
  - triggers

# Rules
.always-run-rules-template: &always-run
  rules:
    - if: $CI_COMMIT_BRANCH
    - if: $CI_MERGE_REQUEST_IID

# Triggers Stage
darkmoon:
  stage: triggers
  trigger:
    include: darkmoon/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - changes:
        - darkmoon/*

darkmoon-cli:
  stage: triggers
  trigger:
    include: darkmoon-cli/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - changes:
        - darkmoon-cli/*

# Security Stage
sast:
  stage: security
  cache: []

bandit-sast:
  <<: *always-run

semgrep-sast:
  <<: *always-run

docs: wrote file
  darkmoon/src/darkmoon/main.py
Due: none

docs: Created new directory server
  darkmoon/src/darkmoon/main.py
  darkmoon/src/darkmoon/server/app.py
  darkmoon/src/darkmoon/server/database.py
Due: none

docs: added requirements.txt
  darkmoon/requirements.txt
Due: darkmoon

docs: added text files to models and routes
  darkmoon/src/darkmoon/server/models/models.txt
  darkmoon/src/darkmoon/server/routes/routes.txt
Due: none

docs: Updated requirements.txt
  darkmoon/requirements.txt
Due: darkmoon

docs: updatedlink
  .dockerignore
  darkmoon/main.py
  darkmoon/src/darkmoon/server/models/student.py
Due: darkmoon

docs: Added something to app.py.
  darkmoon/src/darkmoon/server/app.py
Due: none

docs: added Uvicorn on main.py
  darkmoon/src/darkmoon/main.py
Due: none

docs: Took away unneed Uvicorn code
  darkmoon/src/darkmoon/main.py
Due: none

docs: updatedlink
  darkmoon/src/darkmoon/server/models/student.py
Due: none

feat: iterates over files in a folder and get metadata using os
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon-cli/src/darkmoon_cli/testing/Company Research.pptx
  darkmoon-cli/src/darkmoon_cli/testing/Questions for Meeting.docx
  darkmoon-cli/src/darkmoon_cli/testing/download-1.jpg
  darkmoon-cli/src/darkmoon_cli/testing/download-2.jpg
  darkmoon-cli/src/darkmoon_cli/testing/download.jpg
Due: none

feat: iterate over files and extract metadata using pathlib
  .pre-commit-config.yaml
  .vscode/settings.json
  darkmoon-cli/.flake8
  darkmoon-cli/poetry.lock
  darkmoon-cli/pyproject.toml
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon.code-workspace
  darkmoon/.flake8
Due: darkmoon, darkmoon-cli

fix: added return None to test and path functions
  darkmoon-cli/src/darkmoon_cli/main.py
Due: none

fix: remove testing files
  darkmoon-cli/src/darkmoon_cli/testing/Company Research.pptx
  darkmoon-cli/src/darkmoon_cli/testing/Questions for Meeting.docx
  darkmoon-cli/src/darkmoon_cli/testing/download-1.jpg
  darkmoon-cli/src/darkmoon_cli/testing/download-2.jpg
  darkmoon-cli/src/darkmoon_cli/testing/download.jpg
Due: none

build: remove pyproject-flake8 - seb
  darkmoon-cli/Makefile
  darkmoon/Makefile
  darkmoon/poetry.lock
  darkmoon/pyproject.toml
Due: darkmoon, darkmoon-cli

fix: added docstrings to test and path functions
  darkmoon-cli/src/darkmoon_cli/main.py
Due: none

fix: made changes to docstring format
  .pre-commit-config.yaml
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon/.flake8
Due: darkmoon

fix: fix pipeline failing issues
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon/src/darkmoon/__init__.py
  darkmoon/src/darkmoon/main.py
Due: none

docs: worked on schema + deleted motor.py
  darkmoon-cli/src/darkmoon_cli/__pycache__/schema.cpython-310.pyc
  darkmoon/src/darkmoon/server/schema.py
Due: none

docs: added headerinfo to schema.py
  darkmoon/src/darkmoon/__pycache__/__init__.cpython-310.pyc
  darkmoon/src/darkmoon/__pycache__/main.cpython-310.pyc
  darkmoon/src/darkmoon/server/schema.py
Due: none

fix: added comments and streamedlined file
  darkmoon/src/darkmoon/server/schema.py
Due: none

fix: add hot reload to dockerfile
  darkmoon/Dockerfile
Due: darkmoon

fix: fixed comments to correctly reflect what classes do
  darkmoon/src/darkmoon/server/schema.py
Due: none

fix: connected to database
  darkmoon/poetry.lock
  darkmoon/pyproject.toml
  darkmoon/src/darkmoon/server/database.py
  darkmoon/src/darkmoon/server/models/models.txt
  darkmoon/src/darkmoon/server/models/student.py
  docker-compose.yml
Due: darkmoon

fix: deleted student
  darkmoon/src/darkmoon/server/models/student.py
Due: none

feat: added hashing metadata and pe header metadata
  .pre-commit-config.yaml
  darkmoon-cli/poetry.lock
  darkmoon-cli/pyproject.toml
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon/poetry.lock
  darkmoon/pyproject.toml
Due: darkmoon, darkmoon-cli

fix: line 23 and made it more efficient
  darkmoon/src/darkmoon/server/database.py
Due: none

feat: find file type metadata
  darkmoon-cli/src/darkmoon_cli/main.py
Due: none

fix: delete app and fixed format
  darkmoon/src/darkmoon/server/app.py
  darkmoon/src/darkmoon/server/database.py
Due: none

feat: added operating system metadata
  darkmoon-cli/src/darkmoon_cli/main.py
Due: none

fix: deleted return res
  darkmoon/src/darkmoon/server/database.py
Due: none

feat: added mock source ISO metadata function
  darkmoon-cli/src/darkmoon_cli/main.py
Due: none

fix: fixed docstrings to imperative mood and added print statement to fix glitch in main.py
  darkmoon/main.py
  darkmoon/src/darkmoon/server/database.py
Due: darkmoon

feat: added darkmoon.env and added database information
  darkmoon.env
Due: none

fix: changed darkmoon.env -> TEMPLATE.env and changed data from real to fake
  TEMPLATE.env
  darkmoon.env
Due: none

fix: fixed check-types pipeline error
  darkmoon-cli/src/darkmoon_cli/main.py
Due: none

fix: added none return type to main.py
  darkmoon/main.py
Due: darkmoon

fix: merge conflicts
  .pre-commit-config.yaml
  .vscode/settings.json
  darkmoon-cli/.flake8
  darkmoon-cli/Makefile
  darkmoon-cli/poetry.lock
  darkmoon-cli/pyproject.toml
  darkmoon-cli/src/darkmoon_cli/__pycache__/schema.cpython-310.pyc
  darkmoon-cli/src/darkmoon_cli/main.py
  darkmoon.code-workspace
  darkmoon/.flake8
  darkmoon/Dockerfile
  darkmoon/Makefile
  darkmoon/poetry.lock
  darkmoon/pyproject.toml
  darkmoon/src/darkmoon/__init__.py
  darkmoon/src/darkmoon/__pycache__/__init__.cpython-310.pyc
  darkmoon/src/darkmoon/__pycache__/main.cpython-310.pyc
  darkmoon/src/darkmoon/main.py
  darkmoon/src/darkmoon/server/schema.py
Due: darkmoon, darkmoon-cli

feat: Create a function that calls all metadata functions
  darkmoon-cli/src/darkmoon_cli/main.py
Due: none
